<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="../components/css/photon.min.css">
</head>
<body>
    <div class="window">
        <div class="window-content">
            <div class="pane-group">
            <div class="pane-sm sidebar">
                <ul class="list-group">
                    <li class="list-group-item">
                        <img class="icon icon-install media-object pull-left" src="" width="32" height="32">
                        <div class="media-body">
                            <strong>Instalación</strong>
                            <p>Nueva instalación de la base de datos</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img class="icon icon-retweet media-object pull-left" src="" width="32" height="32">
                        <div class="media-body">
                            <strong>Actualización</strong>
                            <p>Actualización de la base de datos</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img class="icon icon-info media-object pull-left" src="" width="32" height="32">
                        <div class="media-body">
                            <strong>Información</strong>
                            <p>Información de instalacción actual</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pane">
                
            </div>
        </div>
    </div>
</div>
    <script src="./main.js"></script>
</body>
</html>