<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="../components/css/photon.min.css">
</head>
<body>
    <div class="window">
        <div class="window-content">
            <div class="pane-group">
                <div class="pane-sm sidebar">
                    <ul class="list-group">
                        <li class="list-group-item selected">
                            <img class="icon icon-install media-object pull-left" src="" width="32" height="32">
                            <div class="media-body">
                                <strong>Instalación</strong>
                                <p>Nueva instalación de la base de datos</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <img class="icon icon-retweet media-object pull-left" src="" width="32" height="32">
                            <div class="media-body">
                                <strong>Actualización</strong>
                                <p>Actualización de la base de datos</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <img class="icon icon-info media-object pull-left" src="" width="32" height="32">
                            <div class="media-body">
                                <strong>Información</strong>
                                <p>Información de instalacción actual</p>
                            </div>
                        </li>
                        <div class="form-actions" style="margin: auto; width: 50%; margin-top: 10px;">
                            <button id="execute" type="submit" class="btn btn-form btn-primary" onclick="install()">Ejecutar</button>
                        </div>
                    </ul>
                </div>
                <div class="pane-sm" style='padding: 5px;'>
                    <div class="form-group">
                        <label>Dominio base de datos</label>
                        <input id="host" type="text" class="form-control" placeholder="127.0.0.1">
                    </div>
                    <div class="form-group">
                        <label>Usuario</label>
                        <input id="user" type="text" class="form-control" placeholder="Admin">
                    </div>
                    <div class="form-group">
                        <label>Base de datos</label>
                        <input id="database" type="text" class="form-control" placeholder="AppDB">
                    </div>
                </div>
                <div class="pane-sm" style='padding: 5px;'>
                    <div class="form-group">
                        <label>Puerto</label>
                        <input id="port" type="text" class="form-control" placeholder="3306">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="pass" type="password" class="form-control" placeholder="**********">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="./main.js"></script>
    <script src="../../../utils/logger.js"></script>
</body>
</html>